{% load static %}
<!DOCTYPE html>

<head>
    <title>Kiwa Energy Solutions</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="top-bar">
    <p>Call us: +254 700 622889 | Email: info@kiwaenergy.com</p>
</div>

<header>
    <nav>
        <div class="logo-container">
    <img src="{% static 'images/logo.png' %}" alt="K&W Logo" class="logo">
    <p class="logo-text">Kiwa Energy Solutions</p>
</div>

  <div class="menu-toggle" id="menu-toggle">
    ☰
  </div>

        <ul class="nav-links" id="navLinks">
            <li><a href="index.html">HOME</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="services.html">SERVICES</a></li>
            <li><a href="projects.html">PROJECTS</a></li>
            <li><a href="contact.html">CONTACT</a></li>
        </ul>
    </nav>
</header>

<section class="hero">
    <h1>Powering Your Future</h1>
    <p>Reliable Solar & Electrical Solutions</p>
    <button>Get a Quote</button>
</section>

<section class="services">
    <h2>Our Services</h2>
    <a href="services.html">
    <div class="service-box">
        <div class="card"><img src="{% static 'images/solar installation.jpg' %}" alt="">
        <h3>Solar Installation</h3></div>

        <div class="card"><img src="{% static 'images/electrical systems.jpg' %}" alt="">
        <h3>Electrical Systems</h3></div>

        <div class="card"><img src="{% static 'images/automation.jpg' %}" alt="">
        <h3>Automation</h3></div>

        <div class="card"><img src="{% static 'images/security.jpg' %}" alt="">
        <h3>CCTV installations</h3></div>
    </div>
    </a>
</section>

<footer>
    <p>📍 Nairobi, Kenya</p>
    <p>📞 +254  700 622889</p>
    <p>© 2026 Kiwa Energy Solutions</p>
</footer>

<script src="{% static 'js/script.js' %}"></script>

</body>
</html>